*{
    margin:0;
    padding:0;
}
#layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.header{
    grid-column: 1/5;
    grid-row: 1/2;
}
main{
    grid-column: 1/5;
    grid-row: 2/5;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-columns: auto auto;
}
.mainheaddiv{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    padding: 13px;
    width:139px;
    gap: 10px;
    background-color: #1892D3;
    color: #FFFFFF;
}
.navsearch{
    grid-column: 2/6;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.mainheaddiv h1{
    font-weight: bolder;
    font: 1rem;
    
}
.navcontent{
    padding-top: 9px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.navsearch input{
    width: 430px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.548);
    background-color: rgba(128, 128, 128, 0.548);
}
.navicon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.navicon img{
    width: 30px;
    height:30px;
    border-radius: 100%;
}
.navicon h1{
    white-space: nowrap;
    font-size: small;

}
main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    /* gap: 10%; */
}
.one{
    grid-column:1/2 ;
    grid-row:1/6 ;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-right: 36.9px;
    padding-top: 20px;
    background-color: #1892D3;
    color: #FFFFFF;
}
.firsticons{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
}
.icontext{
    display: flex;
    justify-items: center;
    gap: 10px;
}
.icontext h2{
    font-size: 1rem;
}

.two{
    grid-column:2/6 ;
    grid-row:1/2 ;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 10px;
    height: 70px;

}
.userdiv{
    display: flex;
    gap:5px;
    padding-left: 50px;
}
.userdiv img{
    width: 50px;
    height:50px;
    border-radius: 60px;
}
.usertext{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.usertext p{
    font-size: 0.7rem;
}
.usertext h2{
    font-size: 1rem;
    font-weight: bold;
}
.userbutton{
    padding-right: 20px;
    display: flex;
    gap: 15px;

}
.userbutton button{
    border: 2px solid #1892D3;
    width: 70px;
    height: 30px;
    border-radius: 100px;
    background-color: #1892D3;
    color: #FFFFFF;
}
.three{
    grid-column:2/6 ;
    grid-row:2/6 ;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 20px;
    background-color: #DBE2EA;
    padding-top:50px ;
}
.firstcard{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}
.header3{
    grid-column: 1/6;
    grid-row: 1/1;
}
#super{
    grid-column: 1/3;
    grid-row: 2/3;
}
#less{
    grid-column: 3/6;
    grid-row: 2/3;
}
#imposible{
    grid-column: 1/3;
    grid-row: 3/4;
}
#easy{
    grid-column: 3/6;
    grid-row: 3/4;
}
#Ad{
    grid-column: 1/3;
    grid-row: 4/5;
}
#memory{
    grid-column: 3/6;
    grid-row: 4/5;
}
.cards{
    /* padding-top: 10px;
    padding-left: 10px; */
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: 210px;
    height: 120px;
    gap: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    border-left: 5px solid #e4b43d;
    background-color: #FFFFFF;
    text-align: left;
}
.cards h4{
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 0.9rem;
}
.cards p{
    grid-column: 1/5;
    grid-row: 2/4;
    font-size: 0.7rem;
}
.threeicons{
    grid-column: 1/5;
    grid-row: 4/6;
    text-align: right;
    padding-right: 20px;
    gap: 10px;
}
.secondcard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    background-color: #DBE2EA;
}
.card4{
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 1rem;
    font-weight: bolder;
}
.card3{
    grid-column: 1/5;
    grid-row: 3/4;
    font-size: 1rem;
    font-weight: bolder;
}
.cards-secondsiv{
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 130px;
    padding: 10%;
    background-color: #FFFFFF;
}
.card{
    gap: 10px;
    text-align: left;
}
.card h4{
    font-size: 0.8rem;
    font-weight: bolder;
}
.card p{
    font-size: 0.6rem;
}
.cardz{
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    width: 150px;
    padding: 6%;
    border-radius: 10px;
    background-color: white;
    gap: 10px;
}

.imagetrending{
    display: flex;
    gap: 18px;
}
.imagetrending img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.rowsiv{
    display: flex;
    flex-direction: column;
}
.rowsiv h4{
    font-size: 0.8rem;
    font-weight: bolder;
}
.rowsiv p{
    font-size: 0.6rem;
}